<h2>LottoDay: </h2>
<%= @ld.description.split("\n").join("<br/>") %>
<br/>
<%= @ld.day_str %>
<hr size=1 />

<% if !@lotto_bets.size %>
<table border=0 cellpadding=1 cellspacing=1 bgcolor=black>
<tr><th bgcolor=white>
User
</th><th bgcolor=white>
Price
</th><th bgcolor=white>
Description
</th><th bgcolor=white>
Day
</th></tr>
<% @lotto_bets.each do |lb| %>
<tr><td bgcolor=white>
	<%= lb.user %>
</td><td bgcolor=white>
	<%= lb.price %>
</td><td bgcolor=white>
	<%= lb.description %>
</td><td bgcolor=white>
	<%= lb.lotto_day %>
</td></tr>
<% end %>
</table>
<hr size=1 />
<% end %>
Lotto day result: 
<% if @day_result %>
	<%= @day_result.price %>
	<% if @administrate_day_result_allowed %>
		<%= link_to 'change price', { :controller => 'lotto_day_results', :action => 'edit', :id => @day_result.id, :lotto_day_id => @ld.id, :project_id => @project.identifier } %>, 
		<%= link_to 'delete price', { :controller => 'lotto_day_results', :action => 'destroy', :id => @day_result.id, :lotto_day_id => @ld.id, :project_id => @project.identifier }, :confirm => "Are you sure?" %>
	<% end %>
<% else %>
	no day result yet... 
	<% if @add_day_result_allowed %>
		<%= link_to 'add day result', { :controller => 'lotto_day_results', :action => 'new', :lotto_day_id => @ld.id, :project_id => @project.identifier } %>
	<% end %>
	<% if @edit_allowed %>
		<br/>
		<%= link_to 'Edit', { :action => 'edit',  :id => @ld.id, :project_id => @project.identifier } %>
		<%= link_to 'Delete', { :action => 'destroy',  :id => @ld.id, :project_id => @project.identifier }, :confirm => "Are you sure?" %>
	<% end %>
<% end %>

<hr size=1 />
<%= link_to 'LottoDay list', { :action => :index, :project_id => @project.identifier } %>
