<h2>LottoDay: </h2>
<%= @ld.description.split("\n").join("<br/>") %>
<br/>
<%= @ld.day_str %>
<br/>
<%= @ld.day_result_description %>
<hr size=1 />

<% if @lotto_bets.size != 0 %>
<table border=0 cellpadding=1 cellspacing=1 bgcolor=black width=100%>
<tr><th bgcolor=white>
User
</th><th bgcolor=white>
Price
</th><th bgcolor=white>
Description
</th></tr>
<% @lotto_bets.each do |lb| %>
<tr><td bgcolor=white>
	<%= lb.user %>
</td><td bgcolor=white>
	<%= lb.price %>
</td><td bgcolor=white>
	<%= lb.description %>
</td></tr>
<% end %>
</table>
<hr size=1 />
<% end %>
<% if !@ld.finished %>
	<% if @add_day_result_allowed %>
		<%= link_to 'Close possibility to create bets', { :controller => 'lotto_days', :action => 'finish_day', :id => @ld.id, :project_id => @project.identifier } %>
		<hr size=1/>
	<% end %>
<% else %>
Lotto day result: 
	<% if @ld.lotto_day_result %>
		<%= @ld.lotto_day_result.price %>
		<% if @administrate_day_result_allowed %>
			<%= link_to 'change price', { :controller => 'lotto_day_results', :action => 'edit', :id => @ld.lotto_day_result.id, :lotto_day_id => @ld.id, :project_id => @project.identifier } %>, 
			<%= link_to 'delete price', { :controller => 'lotto_day_results', :action => 'destroy', :id => @ld.lotto_day_result.id, :lotto_day_id => @ld.id, :project_id => @project.identifier }, :confirm => "Are you sure?" %>
		<% end %>
	<% else %>
		no day result yet... 
		<% if @add_day_result_allowed %>
			<%= link_to 'add day result', { :controller => 'lotto_day_results', :action => 'new', :lotto_day_id => @ld.id, :project_id => @project.identifier } %>
		<% end %>
	<% end %>	
	<hr size=1/>
<% end %>
<% if @edit_allowed && !@ld.lotto_day_result %>
	<%= link_to 'Edit', { :action => 'edit',  :id => @ld.id, :project_id => @project.identifier } %>
	<% if !@ld.finished %>
		<%= link_to 'Delete', { :action => 'destroy',  :id => @ld.id, :project_id => @project.identifier }, :confirm => "Are you sure?" %>
	<% end %>
	<hr size=1/>
<% end %>
<% if @my_lotto_bet %>
	Your bet is: <%= @my_lotto_bet.price %>
	<% if @administrate_own_bet %>
		<%= link_to 'change bet', { :controller => 'lotto_bets', :action => 'edit', :project_id => @project.identifier, :lotto_day_id => @ld.id, :id => @my_lotto_bet.id } %>
		<%= link_to 'delete bet', { :controller => 'lotto_bets', :action => 'destroy', :project_id => @project.identifier, :lotto_day_id => @ld.id, :id => @my_lotto_bet.id }, :confirm => "Are you sure?" %>
	<% end %>
<% else %>
	No bet...
	<% if @administrate_own_bet %>
		<%= link_to 'create bet', { :controller => 'lotto_bets', :action => 'new', :project_id => @project.identifier, :lotto_day_id => @ld.id } %>
	<% end %>
<% end %>

<hr size=1 />
<%= link_to 'LottoDay list', { :action => :index, :project_id => @project.identifier } %>
